In [1]:
# Import
import pandas as pd
import numpy as np
import pickle
# Load
with open('im.txt','rb') as f:
    im = pickle.load(f)

In [31]:
# Reshape the im matrix
li = []
for d in im.keys():
    temp = im[d].unstack().reset_index()
    temp['city'] = d
    li.append(temp)
imdf = pd.concat(li,axis=0)    
imdf.rename(columns={"level_0":"date","level_1":"origin",0:"ratio"},inplace=True)
imdf

             date origin  ratio city
0      2020-01-01     临沧   0.15   临沧
1      2020-01-01     丽江   0.00   临沧
2      2020-01-01     保山   0.72   临沧
3      2020-01-01     大理  32.14   临沧
4      2020-01-01     德宏   0.33   临沧
...           ...    ...    ...  ...
14787  2020-02-12   齐齐哈尔   0.00   重庆
14788  2020-02-12     上海   0.60   重庆
14789  2020-02-12     北京   0.54   重庆
14790  2020-02-12     天津   0.18   重庆
14791  2020-02-12     重庆   0.00   重庆

[5088448 rows x 4 columns]

Index(['date', 'origin', 0, 'city'], dtype='object')